body{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.colorBtn{
    padding:0.25rem 0.5rem;
    border:3px solid #920452;
    border-radius:7px;
    color:#920452;
    background: rgba(0,0,0,6);
    font-size:0.85rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: :none;

}
.colorBtn:hover{
    background:rgb(85, 11, 73);
}